/* canvas要素 */
canvas {
    margin: 2%;
}


/* body要素 */
body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
}

div.contents {
    max-width: 1200px;
}

div.paramarea {
    width: 80%;
    margin: 5% auto;
    background-color: white;
    padding: 5%;

}

div.param {
    list-style: none;
    font-size: 110%;
}

div.name {
    text-align: right;
}

div.data {
    text-align: left;
}

div.config {
    width: 80%;
    margin: 2% auto;
    background-color: white;
    padding: 2%;
}

div.control {
    width: 80%;
    margin: 2% auto;
    background-color: white;
    padding: 2%;
    vertical-align: text-bottom;
}

div.boardarea {
    width: 80%;
    margin: 2% auto;
    background-color: white;
    padding: 2%;
}

div.codingarea {
    width: 80%;
    margin: 2% auto;
    background-color: white;
    padding: 2%;
}

div.config-submit {
    padding-top: 35px;
}

.CodeMirror {
    font-family: Arial, monospace;
    font-size: 14px;
}

div.status {
    text-align: center;
}

div.coding-form {
    padding-top: 5%;
}

div.boardall {
    width: 80%;
    text-align: center;
}