
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&subset=japanese");
/* body要素 */
body {
  font-family: "Noto Sans JP", sans-serif !important;
  font-size: 1em padding: 20px;
  padding-top: 80px;
  margin: 0;
    background-color: #f6f6f6;

}

.no-wrap {
    display: inline-block; /* インラインブロック化 */
}